/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

:root {
  --talia-gray: #f5f7fa;
  --talia-orange: #fff0e8;
  --talia-background: #f5f7fa;
  --talia-purple-1: #9575cd;
  --talia-purple-2: #ede7f6;
  --talia-purple-3: #f3e5f5;
  --talia-disabled: #e9ecef;
  --talia-title: #21273f;
  --talia-dimmed: #777b8a;
}

body {
  background-color: var(--talia-gray);
}

.custom-tool-button {
  transition: all 0.3s ease;
}

.custom-tool-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-tool-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
