/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

:root {
  --talia-gray: #f5f7fa;
  --talia-orange: #fff0e8;
}

body {
  background-color: var(--talia-gray);
}

.custom-tool-button {
  display: block;
  width: 100%;
  transition: background-color 150ms ease, transform 150ms ease;
}

.custom-tool-button:hover {
  background-color: #ffdac5; /* Hover effect */
}

.custom-tool-button:active {
  transform: scale(0.98); /* Active effect */
}
