/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

:root {
  --talia-gray: #f5f7fa;
  --talia-orange: #fff0e8;
}

body {
  background-color: var(--talia-gray);
}

.markdown-container {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.markdown-container p,
.markdown-container li,
.markdown-container pre {
  white-space: pre-wrap; /* Preserves whitespace and line breaks */
  word-break: break-word; /* Allows words to break if necessary */
}
